.cursor-pointer {
    cursor: pointer;
}


.border-1 {
    border: 1px solid black;
}

.label {
    font-size: .9rem;
    color: #4b92fd;
}

.bold-1 {
    font-weight: 500;
}

.bold-2 {
    font-weight: 600;
}

.bold-3 {
    font-weight: 700;
}