.billing {
    padding: 20px;
    font-size: large;
    font-weight: 500px;
    overflow-y: scroll;
    height: 83vh;

    .containers {
        font-size: large;
        font-weight: 500px;
    }
}

.checkbox .form-check-input {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px solid black;
    margin-right: 10px;
}

.checkbox .form-check-input:checked {
    background-color: $bg-sidebar;
}