.AddNewPractice {
    .container {
        overflow-y: scroll;
        height: 800px;

        ::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.create-form {
    margin-bottom: 70px;

    label {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #717171;
    }

    .form-check-input:checked {
        background-color: $bg-sidebar !important;
        border: none !important;
    }
}

.image-upload {
    position: relative;
}

.upload-label {
    cursor: pointer;
    display: inline-block;
}

.upload-box {
    width: 150px;
    height: 150px;
    border: 3px dashed $bg-sidebar;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.upload-box span {
    font-size: 48px;
}