.billing {
    padding: 20px;
    font-size: large;
        font-weight: 500px;

    .containers{
        font-size: large;
        font-weight: 500px;
    }
}
.d-inline-block{
    font-size: large;
    
}
