
.Practice {
    .headingPrac {
        width: 69.5%;
        margin-left: 25%;
        height: 100%;
        border-left: 2px solid $heading-color;
        justify-content: space-between;
        position: fixed;
    }
    
    .circleContainer {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        position: relative;
    }
    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid ;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        position: relative;
    }
    .circle.selected {
        background-color:#3bc2ed;
        color: #fff; 
    }
    .line {
        position: absolute;
        width: 1px; 
        top: 70px;
        bottom: 100px; 
        left: 50px;
    }
    .line-selected {
        background-color: #000;
    }
    .circleTitle{
        padding-left: 40px;
    }
}
