.Practice {
    .headingPrac {
        width: 75%;
        margin-left: 25%;
        border-left: 2px solid $heading-color;
        justify-content: space-between;
        position: fixed;
    }

    .circleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 30px;
        // z-index: -1;
    }

    .circle {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        cursor: pointer;

        &.selected {
            background-color: #3bc2ed;
            color: #ffffff;
        }

    }

    .line {
        position: absolute;
        width: 1px; 
        top: 100%;
        bottom: 50%; 
        left: 50%;
        background-color: #000;
    }

    .line-selected {
        height: 83%;
    }
    .circle.completed {
        background-color: #d0f1dd;
        color: #2aad5e;
        border: none; 
    }
    .circle.completed .circleNumber {
        display: none;
    }
    
}
