.dashboard{
    .heading{
        background-color: $heading-color;
        padding: 23px;
        p{
            color: $primary-clor;
        }
    }
    .countDetails{
        .DetailBox{
            width: calc(100%/3);
            border: 1px solid #E4E4E4;
            border-radius: 4px;
            padding: 0.5rem !important;
            .title{
                color: $gray-color;
            }
         
        }
        
    }
}