.image-div {
  height: 100vh;
background-repeat: no-repeat;
background-size: cover;
  width: 50%;
}


.form-div{
  height: 100vh;
  width: 50%;
  padding-top: 5em;
}



.practiot-font{
 color: #1F4663;
 font-weight:900;
 font-size: 45px;
 
}

.dental-font {

    margin-left: 2em;
    color: #1F4663;
    margin-top:-0.3em;
}

// @media screen and (max-width: 960px) {
//   .image-div {
//     height: 50vh;
//     width: 100%;
//   }
  
//   .image-div {
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
//   }
  
//   .form-div {
//     height: 50vh;
//     width: 100%;
//     margin-left: -9em;
//   }
  
// }
